.list {
	margin-top: 10px;
	font-size: 1em;
	height: 245px !important;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -ms-grab;
	cursor: -o-grab;
	cursor: grab;
	z-index: 2;
	overflow: hidden;
	
	&:active {
		cursor: move;
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
		cursor: -ms-grabbing;
		cursor: -o-grabbing;
		cursor: grabbing;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	@include mq(desktop) {
		margin-top: 0;
		box-sizing: border-box;
		position: absolute !important;
		bottom: 0;
		left: 0;
		border-top: 1px solid #DCDCDC;
	}
}

	.list__items {
		@include clearfix;
	}

		.list__item {
			float: left;
			width: 200px;
			height: 225px;
			box-sizing: border-box;
			margin-left: 20px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			text-align: center;
			font-family: $sans;
			
			&--normal {
				@extend .list__item;
				background-color: #f1efef;
			}
		
			&--highlighted {
				@extend .list__item;
				background-color: #fff9ca;
			}
			
			@include mq(tablet) {
				margin-top: 20px;
			}
		}
		
			.list__title {
				font-size: 2em;
				background-color: #222;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				color: #FFF;
				padding: 3px 0;
			}
			
			.list__inner {
				padding: 5px 10px 10px 10px;
				border-top: none;
			}
			
				.list__description {
					font-size: 1.2em;
					color: #222;
				}
				
				.list__button {
					display: block;
					margin: 5px auto 0 auto;
					width: 90px;
					height: 25px;
					background-color: #151150;
					font-size: 1.2em;
					color: #FFF;
					border: none;
					border-radius: 2px;
					cursor: pointer;
				}
			
				.list__link {
					margin-top: 5px;
					color: blue;
					display: block;
					font-size: 1.2em;
				}
			
				.list__image {
					display: block;
					width: 100%;
					margin-top: 5px;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					pointer-events: none;
				}