.map-list {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	z-index: 1;
	
	@include mq(desktop) {
		min-height: 800px;
		height: 100%;
		width: 100%;
		float: right;
		border-right: 1px solid #DCDCDC;
		border-left: 1px solid #DCDCDC;
	}
}

@import 'map';
@import 'list';