.map {
	width: 100%;
	position: relative;
	z-index: 1;
	
	@include mq(desktop) {
		height: calc(100% - 245px);
		position: absolute;
		left: 0;
		top: 0;
	}
}

	.map__pan-zoom {
		position: absolute;
		right: 5px;
		bottom: 5px;
		z-index: 1;
		background-color: #151150;
		color: #FFF;
		width: 110px;
		height: 30px;
		border: none;
		border-radius: 2px;
		font-size: 1.2em;
		opacity: .85;
		cursor: pointer;
		
		@include mq(tablet) {
			font-size: 1.4em;
			width: 140px;
			bottom: 10px;
		}
	}

	.map__figure {
		height: 350px;
		
		@include mq(tablet) {
			height: 500px;
		}
		
		@include mq(desktop) {
			width: 100%;
			height: 100%;
		}
	}
	
		.map__date-label {
			font-size: 14px !important;
			background-color: rgba(255,255,255,.7);
			color: #000;
			font-family: $sans;
			text-align: center;
			font-weight: bold;
			width: auto !important;
			padding: 2px 0;
		}
	
	.map__results {
		position: static;
		
		&--visible {
			@extend .map__results;
			display: block;
		}
		
		&--hidden {
			@extend .map__results;
			display: none;
		}
	}