@import 'variables';
@import 'mixins';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-size-adjust: none;
	color: #000;
}

html {
	font-size: 10px;
}

html, body {
	height: 100%;
}

#third-party {
	position: relative;
}

.main {
	max-width: 1280px;
	height: 100%;
	margin: 30px auto 0 auto;
	border-top: 1px solid #DCDCDC;
}

#root {
	height: 100%;
}

@import 'ads';
@import 'map-list';